<!-- Redes sociales -->
<div class="row align-items-center d-flex justify-content-end cabecera">
    <div class="col">
    Contacto
    </div>
    <div class="col">
    Mapa web
    </div>
    <div class="col">
    <ul class="nav align-items-end">
        <li class="nav-item p-2">
            <i class="bi bi-twitter"></i>
        </li>
        <li class="nav-item p-2">
            <i class="bi bi-facebook"></i>
        </li>
        <li class="nav-item p-2">
            <i class="bi bi-youtube"></i>
        </li>
        <li class="nav-item p-2">
            <i class="bi bi-instagram"></i>
        </li>
        </ul>
    </div>
