<!-- Enlaces -->
<div class="row ms-5 mt-5">
    <h2>Directo a</h2>
    <div class="row carrusel">
    
        <div id="demo" class="carousel slide" data-bs-ride="carousel">


            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            </div>
        

            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="row p-5 d-flex justify-content-center">
                        <div class="card ms-3 me-3" style="width: 18rem;">
                            <h1 class="d-flex justify-content-center mt-2">
                                <i class="bi bi-mortarboard-fill"></i>
                            </h1>
                            <div class="card-body">
                              <h5 class="card-title">Estudios</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, alias?</p>
                            </div>
                        </div>
    
                        <div class="card ms-3 me-3" style="width: 18rem;">
                            <h1 class="d-flex justify-content-center mt-2">
                                <i class="bi bi-briefcase-fill"></i>
                            </h1>
                            <div class="card-body">
                              <h5 class="card-title">Trabajar</h5>
                              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                            </div>
                        </div>
    
                    </div>
                    
                </div>

                <div class="carousel-item">
                    <div class="row p-5 justify-content-center">
                        <div class="card ms-3 me-3" style="width: 18rem;">
                            <h1 class="d-flex justify-content-center mt-2">
                                <i class="bi bi-heart-pulse-fill"></i>
                            </h1>
                            <div class="card-body">
                              <h5 class="card-title">Tu salud</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
    
                        <div class="card ms-3 me-3" style="width: 18rem;">
                            <h1 class="d-flex justify-content-center mt-2">
                                <i class="bi bi-house-fill"></i>
                            </h1>
                            <div class="card-body">
                              <h5 class="card-title">Tu vivienda</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui ipsum sed in?</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</div> 