<!-- Navegacion -->
<div class="row align-items-center mt-5">
    <div class="col">
        <img src="../../assets/logoJunta.png" alt="Logo Junta de Andalucía" style="width: 200px;">
    </div>
    <div class="col">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Estudiar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Trabajar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tu salud</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" >Más temas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" >Transparencias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" >La Junta</a>
            </li>
        </ul>
    </div>
    
</div>
